.idea
.publish
build/lib
build/web
node_modules
packages
tools/compiler.jar
web/frameworks/cocos2d-html5
web/frameworks/cocos2d-x
web/frameworks/runtime-src/Classes
web/frameworks/runtime-src/proj.android
web/frameworks/runtime-src/proj.ios_mac
web/frameworks/runtime-src/proj.linux
web/frameworks/runtime-src/proj.win8.1-universal
web/frameworks/runtime-src/proj.win32
web/frameworks/runtime-src/proj.android-studio/app/build
web/frameworks/runtime-src/proj.android-studio/app/libs
web/frameworks/runtime-src/proj.android-studio/app/obj
web/frameworks/runtime-src/proj.android-studio/gradle/wrapper/gradle-wrapper.jar

npm-debug.log

www/packages